* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-bottom: 16px;
  min-width: 300px;
}

section {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  display: flex;
  min-height: calc(100vh - 50px);

  background-color: lavender;
  padding: 50px 10%;
}
